.converter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}

.converter__name {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: bold;
  font-size: 41px;
  line-height: 57px;
  margin: 0;
  margin-bottom: 50px;
}

.converter-money {
  display: grid;
  border: none;
  padding: 0;
  margin: 0;
  width: min-content;
  &--purchased {
    margin-left: auto;
  }
}

.converter-money__label {
  width: 100%;
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 22px;
}

.converter-money__input {
  grid-row-start: 2;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: $color-black-2;
  width: 390px;
  height: 60px;
  margin-right: 15px;
  box-sizing: border-box;
  border: 1px solid $color-black-1;
  border-radius: 4px;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &::placeholder{
    font-family: $main-font-family;
    font-size: 24px;
  }
}

.currency {
  grid-row-start: 2;
  width: 120px;
  height: 60px;
  border: 1px solid $color-black-1;
  border-radius: 4px;
  font-size: 30px;
  text-align: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../../assets/img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;
  padding-right: 26px;
}

.calender__date {
  box-sizing: border-box;
  background-color: transparent;
  width: 390px;
  height: 60px;
  border: 1px solid $color-black-1;
  border-radius: 4px;
  margin-top: 85px;
  font-size: 24px;
  text-align: center;
  padding-right: 54px;
  font-family: $main-font-family;
}

.datePicker {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: 329px;
    bottom: 4px;
    width: 50px;
    height: 50px;
    background-image: url(../../assets/img/calendar.svg);
    background-repeat: no-repeat;
  }
}

.button{
  box-sizing: border-box;
  width: 382px;
  padding: 15px;
  min-height: 60px;
  font-weight: 500;
  background: $color-blue-1;
  border-radius: 4px;
  color: $color-gray-1;
  font-size: 18px;
  border: none;
  cursor: pointer;

  &--save {
    margin-top: 85px;
    margin-left: auto;
  }
}
