@font-face {
  font-family: "Work Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url(../../assets/fonts/work-sans-v11-latin-700.woff2) format("woff2"),
    url(../../assets/fonts/work-sans-v11-latin-700.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url(../../assets/fonts/roboto-v29-latin-regular.woff2) format("woff2"),
    url(../../assets/fonts/roboto-v29-latin-regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url(../../assets/fonts/roboto-v29-latin-500.woff2) format("woff2"),
    url(../../assets/fonts/roboto-v29-latin-500.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url(../../assets/fonts/roboto-v29-latin-700.woff2) format("woff2"),
    url(../../assets/fonts/roboto-v29-latin-700.woff) format("woff");
}
