$main-font-family: "Roboto", "Arial", sans-serif;
$color-blue-1: #2C36F2;
$color-black-1: #1F1E25;
$color-gray-1: #F6F7FF;
$color-gray-2: #E0E1EA;
$color-gray-3: #C1C2CA;
$color-gray-4: rgba(0, 0, 0, 0.25);
$color-gray-5: #707C87;
$color-black-2: #000000;
$desktop-width: 1366px;
